body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url(../img/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.inner-page {
    color: #000000;
    background-color: #faf7f4;
    background-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
}

.button:hover, 
.button:focus, 
.button:active {
    background-color: #663d15;
}

.main-header {
	margin-bottom: 75px;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;

    font-size: 16px;
    line-height: 20px;
}

.main-header-logo {
	order: 1;

	width: 371px;
	height: 155px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;

	background-color: #000000;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.main-navigation ul {
	margin: 0;
	padding: 0;

    list-style: none;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;

    color: #ffffff;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
	width: 620px;
}

.user-navigation {
    display: flex;
	max-width: 140px;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.user-navigation .login-link::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 24px;

    width: 15px;
    height: 15px;
    
    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.user-navigation .login-link:hover::before,
.user-navigation .login-link:focus::before,
.user-navigation .login-link:active::before {
    opacity: 1;
}

.site-navigation a:hover, 
.site-navigation a:focus, 
.user-navigation a:hover, 
.user-navigation a:focus {
    background-color: #242424;
}

.site-navigation-current a {
    border-bottom: 4px solid #ffffff;
}

.inner-page .main-header {
    margin-bottom: 55px;

    background-color: #000000;
}

.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;
}

.inner-page .main-header-logo {
    order: 0;

    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

.inner-page .user-navigation {
    margin-left: auto;
}

.advantages {
    margin-bottom: 80px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.advantages-item {
    width: 300px;

    text-align: center;
}

.advantages-item h3 {
    margin: 0;

    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 50px 80px;

    color: #000000;
    background-color: #faf7f4;
    background-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns section:first-child {
    width: 380px;
}

.index-columns section:last-child {
    width: 300px;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #e5e5e5;
    border: 7px solid #ffffff;
}

.contacts-address {
    font-style: normal;
}

.contacts-address a {
    color: #000000;
}

.appointment-form-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-form-item input:focus {
    border-color: #663d15;
}

.page-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-bottom: 55px;

    list-style: none;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #aba9a7;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filter {
    width: 220px;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    border: none;
}

.filter legend {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 30px;
}

.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
    line-height: 18px;
}

.filter-input:hover+label, .filter-input:focus+label {
    color: #663d15;
}

.filter-input:disabled+label {
    color: #000000;
    opacity: 0.3;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;

    list-style: none;
}

.catalog-item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;

    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 5px 0 25px rgba(0, 1, 1, 0.3);
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.catalog-category {
    text-transform: none;
}

.catalog-item-price b {
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    background-color: #e5e5e5;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
    line-height: 18px;
}

.pagination-list li {
    background-color: #000000;
}

.pagination-list li:not(.current):hover, 
.pagination-list li:not(.current):focus, 
.pagination-list li:not(.current):active {
    background-color: #663d15;
}

.pagination-list a {
    color: #ffffff;
}

.pagination-list .current {
    color: #000000;
    background-color: #ffffff;
}

.product-photos {
    width: 460px;
}

.product-photos img {
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.product-photos ul {
    list-style: none;
}

.product-article {
    text-align: right;
    color: #aeaeae;
}

.product-price b {
    text-align: center;
    vertical-align: middle;

    background-color: #e5e5e5;
}

.product-description {
    width: 390px;
}

.product-description h3 {
    font-size: 24px;
    line-height: 30px;
}

.product-set-list {
    list-style: none;
}

.through-title {
    margin: 0;
    padding: 0;
    margin-bottom: 70px;

    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.catalog-columns.means.prices {
    margin-bottom: 65px;
}

.means {
    width: 240px;
}

.means h3 {
    margin: 0;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
}

.means-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.prices {
    width: 460px;
}

.prices h3 {
    margin: 0;
    padding: 0;
    
    font-size: 24px;
    line-height: 30px;
}

.prices-table {
    border: 2px solid #000000;
    border-collapse: collapse;
}

.prices-table td {
    border: 2px solid #000000;
}

.prices-table td.price {
    text-align: center;
}

.about-us {
    margin-top: 65px;
}

.about-us h3 {
    margin: 0;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
}

.catalog-columns .about-us-text {
    width: 380px;

    margin: 0;
    padding: 0;
}

.catalog-columns .about-us-text:nth-child(2n) {
    margin-right: 80px;
}

/* Подвал сайта */

.main-footer {
    margin-top: 65px;
    padding: 60px 0;

    color: #ffffff;
    background-color: #212121;
    background-image: url(../img/pattern-dark.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-page .main-footer {
    margin-top: 50px;
}

.main-footer .container {
    display: flex;
}

.footer-address {
    margin-right: 60px;
    width: 320px;

    font-style: normal;
}

.footer-address a {
    color: #ffffff;
}

.footer-address a:first-of-type {
    text-decoration: underline;
}

.footer-address a:first-of-type:hover, .footer-address a:first-of-type:focus {
    text-decoration: none;
}

.footer-social {
    width: 180px;

    text-align: center;
}

.footer-social ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    margin-left: auto;
    width: 140px;

    text-align: center;
}

.footer-copyright .button:hover, .footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}

.modal {
    display: none; /*ВРЕМЕННО*/
    color: #000000;
    background-color: #faf7f4;
    background-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"], .login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover, .login-checkbox:focus {
    color: #663d15;
}

.login-form .restore {
    color: #000000;
    text-decoration: underline;
}

.login-form .restore:hover, .login-form .restore:focus {
    text-decoration: none;
}
